extends layout.pug 

block scripts 
    script(src="/static/javascript/home.js") 
block style 
    link(rel="stylesheet", href="/static/CSS/home.css")
block content
    div#home1 
        h1 My Anime Watchlist
        p This is a simple anime watchlist application.
        p You can add, remove, and mark anime as watched.
        p Enjoy your anime journey!
        .add 
            h2 Add Anime
            form(action="/add", method="POST")
                input(type="text", name="name", placeholder="Add Anime", required)
                button(type="submit",class="btn") Add Anime
        .delete
            h2 Delete Anime
            form(action="/delete", method="POST")
                input(type="text", name="name", placeholder="Delete Anime", required)
                button(type="submit",class="btn") Delete Anime