doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Anime_Watchlist 
        link(rel="stylesheet", href="nav-foot.css")
        <script src="https://cdn.jsdelivr.net/npm/animejs@3.2.1/lib/anime.min.js"></script>
        block scripts
        block style 
    body 
        section#navbar 
            ul 
                li 
                    a(href="/") Home
                li 
                    a(href="/watched") Watched 
                li 
                    a(href="/about") About
        
        block content
            footer
                p 
                    | Anime Watchlist. All rights reserved.
               