extends layout.pug 

block style 
    link(rel="stylesheet", href="/static/CSS/watched.css")

block content
  .main 
    h1 Watched Anime    
    .alphabet
        a(href="/watched") All
        a(href="/watched?letter=special" class=(letter === 'special' ? 'active' : '')) #
        - for (let c = 65; c <= 90; c++)
            - const char = String.fromCharCode(c)
            a(href=`/watched?letter=${char}` class=(letter === char ? 'active' : ''))= char

    .wm 
        if animeList && animeList.length
            ol
                each anime in animeList
                    li= anime.name
        else
            p No anime watched yet.
    a.btn-2(href="/") â† Back to Home