extends layout.pug 

block scripts 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js")
    script(src="/static/javascript/anime.js")

block style 
    link(rel="stylesheet", href="/static/CSS/watched.css")

block content
  .main 
    h1 Watched Anime   
    .alphabet
        a(href="/watched") All
        a(href="/watched?letter=special" class=(letter === 'special' ? 'active' : '')) #
        - for (let c = 65; c <= 90; c++)
            - const char = String.fromCharCode(c)
            a(href=`/watched?letter=${char}` class=(letter === char ? 'active' : ''))= char

    .anime-list 
        if animeList && animeList.length
            ol
                each anime in animeList
                    li.eac
                        span.anime-text= anime.name
        else
            p No anime watched yet.
    .khl 
        a.btn-2(href="/") â† Back to Home