#navbar{
    background-color: #232946;
    margin-bottom: 2px;
}
#navbar ul{
    list-style: none;
    padding: 10px 20px;
}
#navbar li{
    display: inline-block;
    margin-right: 30px;
}
#navbar li a{
    text-decoration: none;
    color: #fffffe;
}
#navbar li a:hover{
    color: #b8c1ec;
}
/* Footer  */
#footer{
    background-color: #232946;
    color: #fff;
    height: 20px;
    text-align: center;

}