
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #232946 0%, #121629 100%);
}
.main-container{
    flex: 1 0 auto;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* .main, .anime-list, .add, .delete {
    background: rgba(35, 41, 70, 0.85);
    backdrop-filter: blur(6px);
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.18);
    padding: 24px;
    margin: 24px auto;
} */
a {
    position: relative;
    text-decoration: none;
    color: #eebbc3;
}
a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #eebbc3;
    transition: width 0.3s;
    position: absolute;
    left: 0;
    bottom: -2px;
}
a:hover::after {
    width: 100%;
}