.main{
    background-color: #232946;
    height: auto;
    min-height: 100vh;
}
.alphabet {
    margin-bottom: 20px;
    text-align: center;
}

.alphabet a {
    margin-right: 5px;
    padding: 5px 8px;
    border: 2px solid #121629;
    text-decoration: none;
    color: #fffffe;
}

.active {
    background-color: #b8c1ec;
    color: #232946;
}

.alphabet a:hover {
    background-color: #eebbc3;
    color: #232946;
}

h1{
    font-size: 37px;
    margin-bottom: 20px;
    text-align: center;
    color: #fffffe;
    margin-top: 2px;
    padding: 20px;
}
.anime-list {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: left;
    margin-top: 20px;
    color: #b8c1ec;
    font-size: 1.1rem;
}
.anime-list p{
    font-size: 1.2rem;
    margin: 0px auto;
}
.anime-list li{
    margin: 10px;
}
.btn-2:link,
.btn-2:visited,
.btn-2:hover,
.btn-2:active {
    text-decoration: none;
}
.btn-2{
    display: block;
    padding: 10px 20px;
    background-color: #eebbc3;
    color: #232946;
    border-radius: 9px;
    text-align: center;
    margin: 0px 280px;
    font-size: 1.3rem;
    border: 2px solid #121629;
    transition: box-shadow 0.3s ease;
}
.btn-2:hover{
    background-color: #232946;
    color: #eebbc3;
    transition: background-color 0.3s ease;
}
.khl{
    padding: 50px;
}
.fav-btn {
    font-size: 1.5rem;
    border: none;
    background: none;
    cursor: pointer;
    color: #b8c1ec;
    transition: color 0.2s;
}
.fav-btn.gold-star {
    color: gold;
}
.fav-btn:hover {
    color: gold;
}